<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kairan.uidesign">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/somapasslogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/somapasslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uidesign">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HealthDec"></activity>
        <activity android:name=".TempTaking" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ScanActivity" />
        <!--
        -android:theme="@style/Theme.Uidesign.Fullscreen"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.Uidesign"
        -->

    </application>

</manifest>